Repository gosuda/portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

golangci-lint-config-verify:
  name: golangci-lint-config-verify
  description: Verifies the golangci-lint configuration file
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --fix
  language: golang
  pass_filenames: false

golangci-lint-fmt:
  name: golangci-lint-fmt
  description: Formats Go source code using golangci-lint
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

change Go module path to gosuda.org/portal/v2
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/relay-server/frontend.go
  cmd/relay-server/serve.go
  go.mod
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/admin/rows.go
  portal/admin/state.go
  portal/admin/state_test.go
  portal/broker.go
  portal/broker_test.go
  portal/helpers.go
  portal/server.go
  sdk/client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

Update README.md
  README.md
Due: none

feat: add acme route53 support
  .env.example
  AGENTS.md
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  docker-compose.yml
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
  go.mod
  go.sum
  portal/acme/acme.go
  portal/acme/cloudflare/provider.go
  portal/acme/cloudflare/provider_test.go
  portal/acme/dnsrecord.go
  portal/acme/provider.go
  portal/acme/route53/provider.go
  portal/acme/route53/provider_test.go
  sdk/client.go
  types/api.go
Due: golangci-lint, golangci-lint-fmt

tidy cicd
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  go.mod
Due: golangci-lint-config-verify

Breaking: Go import path changed from gosuda.org/portal/v2 to github.com/gosuda/portal/v2.
  .github/workflows/cd.yml
  .golangci.yml
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/relay-server/frontend.go
  cmd/relay-server/serve.go
  go.mod
  portal/acme/provider.go
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/admin/rows.go
  portal/admin/state.go
  portal/admin/state_test.go
  portal/broker.go
  portal/broker_test.go
  portal/helpers.go
  portal/server.go
  sdk/client.go
  sdk/listener.go
Due: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

feat: support multi relay in sdk, tidy demo app
  cmd/demo-app/handler.go
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/portal-tunnel/relays_test.go
  docs/architecture.md
  portal/helpers.go
  portal/server.go
  sdk/client.go
  sdk/client_test.go
  sdk/helper.go
  sdk/helper_test.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

chore: add thumbnail in tunnel
  cmd/demo-app/main.go
  cmd/demo-app/static/thumbnail.png
  cmd/relay-server/tunnel.go
  frontend/src/components/TunnelCommandModal.tsx
  sdk/helper.go
  sdk/helper_test.go
Due: golangci-lint, golangci-lint-fmt

docs: add nginx reverse proxy deployment examples
  README.md
  docs/examples/nginx-proxy-multi-service/docker-compose.yaml
  docs/examples/nginx-proxy-multi-service/nginx.conf
  docs/examples/nginx-proxy/.env.example
  docs/examples/nginx-proxy/docker-compose.yaml
  docs/examples/nginx-proxy/nginx.conf
Due: none

sdk: refactor listener, client
  cmd/demo-app/main.go
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/server.go
  sdk/client.go
  sdk/client_test.go
  sdk/helper.go
  sdk/helper_test.go
  sdk/listener.go
  sdk/listener_test.go
  types/api.go
  types/error_codes.go
Due: golangci-lint, golangci-lint-fmt

fix lint error
  cmd/portal-tunnel/relays.go
  cmd/portal-tunnel/relays_test.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

refact: rollback multi relay
  cmd/demo-app/handler.go
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/portal-tunnel/relays_test.go
  sdk/client.go
  sdk/client_test.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

remove client option
  cmd/demo-app/main.go
  cmd/portal-tunnel/relays.go
  sdk/client.go
  sdk/client_test.go
Due: golangci-lint, golangci-lint-fmt

add mergelistener
  Makefile
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  sdk/client.go
  sdk/helper.go
  sdk/helper_test.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

chore: fix keyles dir config
  cmd/relay-server/main.go
  docker-compose.yml
  docs/deployment.md
  sdk/helper_test.go
Due: golangci-lint, golangci-lint-fmt

chore: remove node_modules from extension, add .gitignore
  extensions/vscode/portal/.gitignore
Due: none

feat: add thumbnail support and refactor vscode extension
  extensions/vscode/portal/README.md
  extensions/vscode/portal/src/extension.ts
Due: none

sdk: add exposure helper for multi relay
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  sdk/helper.go
  sdk/helper_test.go
Due: golangci-lint, golangci-lint-fmt

chore: add make linstall
  .github/workflows/ci.yml
  Makefile
Due: none

chore: remove unnecessary description
  frontend/src/components/TunnelCommandModal.tsx
Due: none

chore: move extension directory
  extensions/vscode/.gitignore
  extensions/vscode/.npmrc
  extensions/vscode/.vscode-test.mjs
  extensions/vscode/.vscode/extensions.json
  extensions/vscode/.vscode/launch.json
  extensions/vscode/.vscode/settings.json
  extensions/vscode/.vscode/tasks.json
  extensions/vscode/.vscodeignore
  extensions/vscode/CHANGELOG.md
  extensions/vscode/README.md
  extensions/vscode/esbuild.js
  extensions/vscode/eslint.config.mjs
  extensions/vscode/package.json
  extensions/vscode/pnpm-lock.yaml
  extensions/vscode/src/extension.ts
  extensions/vscode/src/test/extension.test.ts
  extensions/vscode/tsconfig.json
  extensions/vscode/vsc-extension-quickstart.md
Due: none

chore: reduce ttl
  cmd/demo-app/main.go
  portal/helpers.go
  sdk/client.go
Due: golangci-lint, golangci-lint-fmt

fix: force PowerShell terminal on Windows for tunnel command
  extensions/vscode/src/extension.ts
Due: none

fix: align Windows tunnel env vars with portal script contract
  extensions/vscode/src/extension.ts
Due: none

fix: refine Windows terminal comment
  extensions/vscode/src/extension.ts
Due: none

docs: add auto-update watcher and deploy scripts for nginx-proxy setup
  docs/deployment.md
  docs/examples/nginx-proxy/deploy_portal.sh
  docs/examples/nginx-proxy/nginx_deploy.sh
  docs/examples/nginx-proxy/watch_and_deploy.sh
Due: none

fix: resolve tunnel death hang, goroutine leak, and re-registration failures
  portal/broker.go
  portal/server.go
  sdk/client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

fix: reuse tls conn for tls resumption
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

sdk: refactor listener
  cmd/portal-tunnel/README.md
  docs/architecture.md
  sdk/client.go
  sdk/client_test.go
  sdk/helper.go
  sdk/helper_test.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

refactor(sdk): simplify listener lifecycle and rename internal relay helpers
  AGENTS.md
  docs/architecture.md
  docs/greenfield-raw-tcp-sni-keyless.md
  portal/server.go
  sdk/client.go
  sdk/client_test.go
  sdk/expose.go
  sdk/helper_test.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/relayclient.go
  sdk/sdk_test.go
  types/api.go
Due: golangci-lint, golangci-lint-fmt

refact: fix listener
  cmd/portal-tunnel/README.md
  docs/architecture.md
  docs/greenfield-raw-tcp-sni-keyless.md
  portal/broker.go
  portal/broker_test.go
  portal/server.go
  portal/utils.go
  sdk/expose.go
  sdk/listener.go
  sdk/relayclient.go
  sdk/sdk_test.go
Due: golangci-lint, golangci-lint-fmt

sdk: simplify listener retry
  sdk/listener.go
  sdk/relayclient.go
  sdk/sdk_test.go
Due: golangci-lint, golangci-lint-fmt

portal: split api server
  portal/api_server.go
  portal/server.go
  portal/utils.go
  sdk/api_client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

chore: remove ctx in struct
  portal/server.go
  sdk/listener.go
  sdk/sdk_test.go
Due: golangci-lint, golangci-lint-fmt

refact portal and relay server
  cmd/relay-server/serve.go
  portal/acme/acme.go
  portal/acme/acme_test.go
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/api_server.go
  portal/keyless/signer.go
  portal/lease.go
  portal/lease_test.go
  portal/routing.go
  portal/server.go
  portal/server_test.go
Due: golangci-lint, golangci-lint-fmt

move policy to portal
  cmd/relay-server/serve.go
  portal/server.go
  portal/server_test.go
Due: golangci-lint, golangci-lint-fmt

refact: consolidate util method
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  portal/admin/handler.go
  portal/api_server.go
  portal/keyless/client.go
  portal/lease.go
  portal/server.go
  portal/server_test.go
  portal/utils.go
  sdk/api_client.go
  sdk/expose.go
  sdk/listener.go
  sdk/sdk_test.go
  utils/api.go
  utils/api_test.go
  utils/utils.go
  utils/utils_test.go
Due: golangci-lint, golangci-lint-fmt

refact: remove custom hostname inputs
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
  portal/admin/rows.go
  portal/api_server.go
  portal/keyless/client.go
  portal/lease.go
  portal/lease_test.go
  portal/server_test.go
  portal/utils.go
  sdk/api_client.go
  sdk/expose.go
  sdk/listener.go
  sdk/sdk_test.go
  types/api.go
  utils/utils.go
  utils/utils_test.go
Due: golangci-lint, golangci-lint-fmt

chore: tidy utils
  portal/api_server.go
  portal/lease.go
  portal/server.go
  portal/utils.go
  sdk/api_client.go
  sdk/expose.go
  sdk/listener.go
  types/api.go
  utils/api.go
  utils/utils.go
  utils/utils_test.go
Due: golangci-lint, golangci-lint-fmt

Path conditions:
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  golangci-lint-fmt: any of: \.go$
