Repository gosuda/portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

golangci-lint-config-verify:
  name: golangci-lint-config-verify
  description: Verifies the golangci-lint configuration file
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --fix
  language: golang
  pass_filenames: false

golangci-lint-fmt:
  name: golangci-lint-fmt
  description: Formats Go source code using golangci-lint
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

refactor: migrate TLS flow to keyless signer
  .gitignore
  AGENTS.md
  README.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  docs/architecture.md
  docs/portal-deploy-guide.md
  go.mod
  go.sum
  portal/relay.go
  sdk/client.go
  sdk/listener.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

refactor: remove ACME certificate management and related code
  README.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/tunnel.go
  cmd/relay-server/utils.go
  docker-compose.yml
  docs/architecture.md
  docs/development.md
  docs/portal-deploy-guide.md
  go.mod
  go.sum
  portal/lease.go
  portal/relay.go
  portal/utils/cert/acme.go
  portal/utils/cert/cert.go
  sdk/autocert.go
  sdk/cert.go
  sdk/client.go
  sdk/listener.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

feat: simplify self TLS file input section in TunnelCommandModal
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
Due: none

feat: fix agents.md
  AGENTS.md
  cmd/relay-server/main.go
  portal/relay.go
  portal/sni/parser.go
  portal/sni/parser_test.go
  portal/sni/router.go
  portal/sni/router_test.go
Due: golangci-lint, golangci-lint-fmt

feat: add ACME autocert and HTTPS admin server with per-lease connection limits
  cmd/relay-server/admin.go
  cmd/relay-server/certmanager.go
  cmd/relay-server/main.go
  cmd/relay-server/manager/connlimit_manager.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  portal/api/types.go
  sdk/funnel.go
Due: golangci-lint, golangci-lint-fmt

fix tls modal
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
Due: none

add keyless key file
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  docker-compose.yml
  go.mod
  go.sum
  portal/keyless/signer.go
  portal/relay.go
Due: golangci-lint, golangci-lint-fmt

refactor(relay-server): simplify config flags and keyless ACME flow, remove noindex
  AGENTS.md
  Dockerfile
  README.md
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  docker-compose.yml
  docs/portal-deploy-guide.md
  go.mod
  go.sum
  portal/keyless/acme.go
  portal/relay.go
Due: golangci-lint, golangci-lint-fmt

refactor(relay): split ACME package and simplify TLS wiring
  .gitignore
  AGENTS.md
  README.md
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  docker-compose.yml
  docs/portal-deploy-guide.md
  portal/acme/acme.go
  portal/relay.go
Due: golangci-lint, golangci-lint-fmt

sni: route root domain on :443 to internal API while keeping wildcard passthrough
  cmd/relay-server/admin.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/sni/router.go
Due: golangci-lint, golangci-lint-fmt

fix duplicate redirect
  cmd/relay-server/serve.go
Due: golangci-lint, golangci-lint-fmt

disable coalescing in http/2
  cmd/relay-server/serve.go
Due: golangci-lint, golangci-lint-fmt

refactor: tidy domain handling
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/acme/acme.go
  portal/relay.go
  sdk/client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

separate main and wildcard domain cert
  AGENTS.md
  Dockerfile
  README.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  cmd/relay-server/tunnel.go
  docker-compose.yml
  docs/architecture.md
  docs/portal-deploy-guide.md
  portal/acme/acme.go
  portal/acme/certcache.go
  portal/acme/renew.go
  portal/keyless/signer.go
  portal/relay.go
  sdk/client.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

fix bug
  portal/acme/acme.go
  portal/acme/renew.go
Due: golangci-lint, golangci-lint-fmt

fix http 1.1
  sdk/client.go
Due: golangci-lint, golangci-lint-fmt

remove main/wildcard cert split (HTTP/1.1 only)
  AGENTS.md
  README.md
  docs/architecture.md
  docs/portal-deploy-guide.md
  portal/acme/acme.go
Due: golangci-lint, golangci-lint-fmt

remove tls cache
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  portal/acme/certcache.go
  portal/acme/renew.go
  sdk/client.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

tunnel: support multi relay
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  cmd/relay-server/utils.go
  portal/keyless/bootstrap.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

add wildcard domain
  portal/acme/acme.go
  portal/acme/renew.go
Due: golangci-lint, golangci-lint-fmt

refactor codes
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/acme/acme.go
  sdk/client.go
  sdk/listener.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

simplify cicd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .golangci.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
Due: golangci-lint-config-verify

fix: harden lease registration, remove InsecureSkipVerify
  cmd/relay-server/registry.go
  portal/keyless/bootstrap.go
Due: golangci-lint, golangci-lint-fmt

feat: remove self tls mode
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/tunnel.go
  cmd/relay-server/utils.go
  portal/keyless/client.go
  portal/keyless/signer.go
  portal/lease.go
  portal/reverse_hub.go
  portal/reverse_hub_test.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/types.go
Due: golangci-lint, golangci-lint-fmt

fix coderabbit issue
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
Due: golangci-lint, golangci-lint-fmt

chore: fix lint error
  .golangci.yml
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend.go
  cmd/relay-server/manager/bps_manager.go
  cmd/relay-server/serve.go
  cmd/relay-server/tunnel.go
  portal/acme/acme.go
  portal/keyless/client.go
  portal/relay.go
  portal/reverse_hub.go
  portal/sni/parser.go
  portal/sni/parser_test.go
  portal/sni/router.go
  portal/sni/router_test.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

exec go fix
  cmd/relay-server/admin.go
  cmd/relay-server/manager/bps_manager.go
  cmd/relay-server/manager/ip_manager.go
  portal/reverse_hub.go
Due: golangci-lint, golangci-lint-fmt

fix documents
  .env.example
  AGENTS.md
  README.md
  docs/architecture.md
  docs/deployment.md
  docs/development.md
  docs/glossary.md
  docs/portal-deploy-guide.md
Due: none

.
  README.md
Due: none

fix deployment
  docs/deployment.md
Due: none

refactor: consolidate domain and network utilities into types package
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/relay-server/admin.go
  cmd/relay-server/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/lease.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/types.go
  types/api.go
  types/metadata.go
  types/netutil.go
  types/netutil_test.go
Due: golangci-lint, golangci-lint-fmt

fix lint error
  types/netutil_test.go
Due: golangci-lint, golangci-lint-fmt

chore: update dependencies and tools
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  go.mod
  go.sum
Due: none

chore(lint): Expand golangci-lint configuration
  .golangci.yml
  AGENTS.md
Due: golangci-lint-config-verify

Potential fix for code scanning alert no. 22: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

Path conditions:
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  golangci-lint-fmt: any of: \.go$
