Repository gosuda/portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.5.0"

repos:
  # General text cleanup for markdown files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      # Remove trailing whitespace
      - id: trailing-whitespace

      # Ensure files end with a newline
      - id: end-of-file-fixer

      # Fix mixed line endings (convert to LF)
      - id: mixed-line-ending
        args: ["--fix=lf"]

      # Fix UTF-8 byte order marker
      - id: fix-byte-order-marker

  - repo: local
    hooks:
      - id: golangci-lint-config-verify
        name: golangci-lint-config-verify
        description: Verifies the golangci-lint configuration file
        entry: golangci-lint config verify
        files: '\.golangci\.(?:yml|yaml|toml|json)'
        language: system
        pass_filenames: false

      - id: golangci-lint
        name: golangci-lint
        description: Fast linters runner for Go.
        entry: golangci-lint run --fix
        types: [go]
        language: golang
        pass_filenames: false

      - id: golangci-lint-fmt
        name: golangci-lint-fmt
        description: Formats Go source code using golangci-lint
        entry: golangci-lint fmt
        types: [go]
        language: golang
        pass_filenames: false

chore(tests): disable revive var-naming rule in netutil_test.go
  types/netutil_test.go
Due: golangci-lint, golangci-lint-fmt

refactor(backend): consolidate relay routing and connection guards
  .golangci.yml
  cmd/relay-server/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/registry_test.go
  portal/reverse_hub.go
  portal/reverse_hub_test.go
  portal/sni/router.go
  portal/sni/router_test.go
  types/netutil.go
  types/netutil_test.go
Due: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

feat(frontend): harden admin API handling and add vitest tests
  cmd/relay-server/frontend/README.md
  cmd/relay-server/frontend/package-lock.json
  cmd/relay-server/frontend/package.json
  cmd/relay-server/frontend/src/components/ServerListView.tsx
  cmd/relay-server/frontend/src/hooks/useAdmin.test.ts
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  cmd/relay-server/frontend/src/hooks/useList.ts
  cmd/relay-server/frontend/src/lib/apiClient.test.ts
  cmd/relay-server/frontend/src/lib/apiClient.ts
  cmd/relay-server/frontend/src/lib/apiPaths.ts
  cmd/relay-server/frontend/src/test/setup.ts
  cmd/relay-server/frontend/vite.config.ts
Due: none

docs(portal): align transport and routing guidance
  README.md
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
Due: none

docs(portal): clean and align documentation guidance
  AGENTS.md
  README.md
  cmd/relay-server/frontend/README.md
Due: none

refactor(portal): centralize anti-abuse enforcement
  AGENTS.md
  README.md
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/main_test.go
  cmd/relay-server/admin.go
  cmd/relay-server/admin_test.go
  cmd/relay-server/frontend/README.md
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/frontend/src/hooks/useAdmin.test.ts
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  cmd/relay-server/frontend/src/lib/apiClient.test.ts
  cmd/relay-server/frontend/src/lib/apiClient.ts
  cmd/relay-server/frontend/src/lib/apiPaths.test.ts
  cmd/relay-server/main.go
  cmd/relay-server/manager/ip_manager.go
  cmd/relay-server/manager/ip_manager_test.go
  cmd/relay-server/registry.go
  cmd/relay-server/registry_test.go
  cmd/relay-server/tunnel.go
  docs/adr/0003-security-and-anti-abuse-hardening.md
  docs/architecture.md
  portal/reverse_hub.go
  portal/reverse_hub_test.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

docs(portal): Update runtime contracts and policies
  README.md
  cmd/portal-tunnel/README.md
  cmd/relay-server/admin.go
  cmd/relay-server/admin_test.go
  cmd/relay-server/frontend/README.md
  cmd/relay-server/frontend/src/hooks/useAdmin.test.ts
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  cmd/relay-server/registry.go
  cmd/relay-server/registry_test.go
  cmd/relay-server/tunnel.go
  cmd/relay-server/tunnel_test.go
  cmd/relay-server/utils.go
  docs/adr/0003-security-and-anti-abuse-hardening.md
  docs/architecture.md
  portal/lease.go
  portal/lease_test.go
Due: golangci-lint, golangci-lint-fmt

fix test, readme, cli
  README.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/main_test.go
  cmd/relay-server/tunnel_test.go
  go.mod
Due: golangci-lint, golangci-lint-fmt

demo-app: rollback index.html
  cmd/demo-app/static/index.html
Due: none

refact: enforce https-only relay APIs and remove localhost HTTP proxy path
  Dockerfile
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/relay-server/frontend/src/components/TunnelCommandModal.tsx
  cmd/relay-server/main.go
  docker-compose.yml
  portal/acme/acme.go
  portal/acme/local.go
  portal/keyless/client.go
  portal/relay.go
  sdk/listener.go
  sdk/listener_test.go
  types/netutil.go
  types/netutil_test.go
Due: golangci-lint, golangci-lint-fmt

simplify http serve
  cmd/relay-server/serve.go
Due: golangci-lint, golangci-lint-fmt

validate clienthello
  cmd/relay-server/serve.go
Due: golangci-lint, golangci-lint-fmt

docs(AGENTS): Update frontend agent constraints and conventions
  AGENTS.md
  cmd/relay-server/frontend/AGENTS.md
  cmd/relay-server/frontend/CLAUDE.md
Due: none

refactor(portal)!: finalize strict tunnel/sdk/admin contracts
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/relay-server/frontend/src/hooks/useAdmin.test.ts
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  cmd/relay-server/frontend/src/hooks/useServerList.ts
  cmd/relay-server/frontend/src/lib/apiClient.test.ts
  cmd/relay-server/frontend/src/lib/apiClient.ts
  cmd/relay-server/frontend/src/lib/apiPaths.ts
  cmd/relay-server/frontend/src/lib/metadata.ts
  cmd/relay-server/frontend/src/lib/testUtils.ts
  cmd/relay-server/frontend/src/pages/ServerList.tsx
  cmd/relay-server/registry.go
  cmd/relay-server/utils.go
  docs/adr/0001-raw-tcp-reverse-connect-and-autocert-tls.md
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

fix(frontend): shrink callback jargon and harden contract tests
  cmd/relay-server/frontend/src/components/ServerListView.tsx
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  cmd/relay-server/frontend/src/lib/apiPaths.test.ts
Due: none

refactor(frontend): remove callback artifacts and align mtls docs
  README.md
  cmd/relay-server/frontend/README.md
  cmd/relay-server/frontend/src/components/ServerCard.tsx
  cmd/relay-server/frontend/src/components/ServerListView.tsx
  cmd/relay-server/frontend/src/hooks/useAdmin.ts
  docs/adr/0003-security-and-anti-abuse-hardening.md
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
Due: none

fix(registry): consolidate control plane mTLS
  cmd/relay-server/control_plane_admission.go
  cmd/relay-server/registry.go
  cmd/relay-server/registry_test.go
Due: golangci-lint, golangci-lint-fmt

feat(control-plane): enforce mTLS client identity in sdk tunnel paths
  cmd/relay-server/main_test.go
  cmd/relay-server/serve.go
  sdk/client.go
  sdk/controlplane_identity.go
  sdk/controlplane_identity_test.go
  sdk/listener.go
  types/api.go
Due: golangci-lint, golangci-lint-fmt

chore(deps): bump keyless_tls to strict mtls baseline
  go.mod
  go.sum
Due: none

refactor: remove unnecessary codes
  .golangci.yml
  cmd/relay-server/utils.go
  portal/lease.go
  types/api.go
  types/metadata.go
  types/netutil.go
  types/netutil_test.go
Due: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

chore(lint): enable govet mutex checks
  .golangci.yml
Due: golangci-lint-config-verify

remove global flags
  cmd/relay-server/admin.go
  cmd/relay-server/admin_test.go
  cmd/relay-server/control_plane_admission.go
  cmd/relay-server/frontend.go
  cmd/relay-server/main.go
  cmd/relay-server/main_test.go
  cmd/relay-server/registry.go
  cmd/relay-server/registry_test.go
  cmd/relay-server/serve.go
  cmd/relay-server/serve_test.go
  cmd/relay-server/tunnel.go
  cmd/relay-server/tunnel_test.go
  cmd/relay-server/utils.go
  cmd/relay-server/utils_test.go
  sdk/controlplane_identity.go
  sdk/controlplane_identity_test.go
  types/controlplane.go
Due: golangci-lint, golangci-lint-fmt

refactor: add controlplane in portal subpackage
  cmd/relay-server/admin.go
  cmd/relay-server/control_plane_admission.go
  cmd/relay-server/registry.go
  cmd/relay-server/utils.go
  portal/controlplane/controlplane.go
  portal/controlplane/controlplane_test.go
  portal/relay.go
  sdk/client.go
  sdk/controlplane_identity.go
  sdk/controlplane_identity_test.go
  types/controlplane.go
Due: golangci-lint, golangci-lint-fmt

disable mtls option
  go.mod
  go.sum
  portal/keyless/client.go
Due: golangci-lint, golangci-lint-fmt

remove unnecessary logs
  cmd/relay-server/manager/bps_manager.go
  portal/reverse_hub.go
Due: golangci-lint, golangci-lint-fmt

chore: Update .gitignore
  .gitignore
Due: none

change portal logo
  README.md
  portal.jpg
  portal.png
Due: none

change image
  portal.png
Due: none

feat(sdk): gate mTLS lifecycle identity on KEYLESS_DIR env var
  AGENTS.md
  sdk/client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

chore(deps): publish keyless_tls upstream, pin to v0.0.1-0.20260304212324-7733f8366abc
  AGENTS.md
  go.mod
  go.sum
Due: none

refactor: remove contracts and netutil re-export wrappers, use types directly
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/contracts/contracts.go
  portal/keyless/client.go
  portal/netutil/netutil.go
  sdk/client.go
  sdk/listener.go
Due: golangci-lint, golangci-lint-fmt

test(sdk): add zero-cert listener tests for token-only path
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

remove go.mod replace
  AGENTS.md
  Dockerfile
  README.md
  go.mod
  go.sum
Due: none

refact: remove type alias
  cmd/portal-tunnel/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/contracts/contracts.go
  portal/controlplane/registry/service.go
  portal/controlplane/registry/service_test.go
  portal/lease.go
  portal/lease_test.go
  portal/relay_test.go
  portal/reverse_hub.go
  portal/reverse_hub_test.go
  portal/sni/parser.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

refact: remove func alias, comsoliation define to types
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  cmd/relay-server/utils.go
  portal/controlplane/registry/service.go
  portal/keyless/client.go
  portal/keyless/signer.go
  portal/netutil/netutil.go
  portal/relay.go
  portal/reverse_hub.go
  portal/reverse_hub_test.go
  portal/sni/parser.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  types/lease.go
  types/netutil.go
  types/netutil_test.go
  types/types.go
Due: golangci-lint, golangci-lint-fmt

update readme and portal.png
  README.md
  portal.png
Due: none

fix lint error
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

fix(security): add TLS MinVersion, security headers, and request body limits
  cmd/relay-server/serve.go
  portal/admin/handler.go
Due: golangci-lint, golangci-lint-fmt
