Repository gosuda/portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

golangci-lint-config-verify:
  name: golangci-lint-config-verify
  description: Verifies the golangci-lint configuration file
  entry: golangci-lint config verify
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  description: Fast linters runner for Go.
  entry: golangci-lint run --fix
  language: golang
  pass_filenames: false

golangci-lint-fmt:
  name: golangci-lint-fmt
  description: Formats Go source code using golangci-lint
  entry: golangci-lint fmt
  language: golang
  pass_filenames: false

refactor(admin): clean LLM artifacts in handler — dedup lease actions, inline types, remove stubs
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/policy/authenticator.go
Due: golangci-lint, golangci-lint-fmt

refactor(admin): inline nil-check helpers, remove redundant cached fields
  cmd/relay-server/admin.go
  cmd/relay-server/utils.go
  portal/admin/service.go
Due: golangci-lint, golangci-lint-fmt

tunnel: remove tls args
  cmd/relay-server/tunnel.go
Due: golangci-lint, golangci-lint-fmt

refactor(admin): extract admin logic to portal/admin
  AGENTS.md
Due: none

update readme
  README.md
Due: none

tidy readme
  README.md
Due: none

fix readme
  README.md
Due: none

fix why portal
  README.md
Due: none

remove mtls and controlplane
  AGENTS.md
  cmd/portal-tunnel/README.md
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  docs/adr/0003-security-and-anti-abuse-hardening.md
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
  frontend/README.md
  portal/controlplane/controlplane.go
  portal/controlplane/controlplane_test.go
  portal/controlplane/registry/service.go
  portal/controlplane/registry/service_test.go
  portal/registry.go
  portal/registry_test.go
  portal/relay.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

feat(relay): add auto acme with relay-server started
  portal/acme/dnsrecord.go
  portal/relay.go
Due: golangci-lint, golangci-lint-fmt

fix lint error
  portal/acme/dnsrecord.go
  portal/relay.go
Due: golangci-lint, golangci-lint-fmt

fix(security): add SDK/sign body limits, IP validation, error sanitization, file perms, mode validation
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  portal/admin/handler.go
  portal/admin/service.go
  portal/admin/service_test.go
  portal/policy/approver.go
Due: golangci-lint, golangci-lint-fmt

refactor: remove httpStatus dupes, dead defaultBPS code, obvious comments, nil-guard relay
  .pre-commit-config.yaml
  cmd/demo-app/static/index.html
  cmd/relay-server/admin.go
  cmd/relay-server/main.go
  cmd/relay-server/utils.go
  portal/admin/handler_test.go
  portal/admin/service.go
  portal/admin/service_test.go
  portal/policy/rate_limiter.go
  portal/registry.go
  types/types.go
Due: golangci-lint, golangci-lint-fmt

refactor(cmd): split utils.go into http_helpers.go and lease_rows.go
  cmd/relay-server/http_helpers.go
  cmd/relay-server/lease_rows.go
Due: golangci-lint, golangci-lint-fmt

refactor: dedup LeaseEntry.Expires, remove unused exports
  cmd/relay-server/utils.go
  portal/lease.go
  portal/lease_test.go
  types/types.go
Due: golangci-lint, golangci-lint-fmt

style: fix trailing blank line in registry.go
  portal/registry.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve goroutine hang/leak on shutdown
  cmd/portal-tunnel/main.go
  cmd/relay-server/main.go
  portal/relay.go
  portal/reverse_hub.go
  portal/sni/router.go
Due: golangci-lint, golangci-lint-fmt

fix: resolve concurrency race, leak, and hang issues
  portal/policy/rate_limiter.go
  portal/registry.go
  portal/registry_test.go
  portal/reverse_hub.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

fix: lint, body limit
  cmd/relay-server/registry.go
  sdk/listener.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

fix lint error, implement zerolog
  cmd/demo-app/main.go
  cmd/demo-app/static/index.html
  cmd/demo-app/static/style.css
  cmd/portal-tunnel/main.go
  cmd/relay-server/admin.go
  cmd/relay-server/http_helpers.go
  cmd/relay-server/lease_rows.go
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  go.mod
  go.sum
  portal/acme/acme.go
  portal/acme/dnsrecord.go
  portal/api.go
  portal/broker.go
  portal/helpers.go
  portal/routing.go
  portal/server.go
  portal/tls.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/tls.go
Due: golangci-lint, golangci-lint-fmt

tunnel: remove portal dependency
  cmd/portal-tunnel/main.go
Due: golangci-lint, golangci-lint-fmt

sdk: add keyless tls
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/README.md
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  internal/testutil/cert.go
  portal/keyless/client.go
  portal/keyless/signer.go
  portal/server.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  sdk/tls.go
Due: golangci-lint, golangci-lint-fmt

fix tunnel embed, acme renew
  cmd/relay-server/tunnel.go
  portal/acme/acme.go
Due: golangci-lint, golangci-lint-fmt

refactor keyless codes
  cmd/demo-app/main.go
  cmd/relay-server/serve.go
  portal/keyless/client.go
  portal/keyless/tls.go
  portal/server.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

refact: remove unnecessary log, helper
  cmd/portal-tunnel/main.go
  cmd/relay-server/admin.go
  cmd/relay-server/http_helpers.go
  cmd/relay-server/serve.go
  portal/helpers.go
  portal/server.go
  sdk/client.go
Due: golangci-lint, golangci-lint-fmt

refactor: move shared portal-sdk DTOs and API paths into types package
  AGENTS.md
  cmd/demo-app/main.go
  cmd/portal-tunnel/main.go
  cmd/relay-server/admin.go
  cmd/relay-server/frontend.go
  cmd/relay-server/http_helpers.go
  cmd/relay-server/lease_rows.go
  cmd/relay-server/registry.go
  cmd/relay-server/serve.go
  portal/api.go
  portal/broker.go
  portal/broker_test.go
  portal/helpers.go
  portal/server.go
  sdk/client.go
  sdk/listener.go
  sdk/listener_test.go
  types/api.go
  types/paths.go
Due: golangci-lint, golangci-lint-fmt

portal: remove api.go
  portal/api.go
  portal/server.go
Due: golangci-lint, golangci-lint-fmt

fix AGENTS and docs
  AGENTS.md
  docs/adr/0003-security-and-anti-abuse-hardening.md
  docs/adr/README.md
  docs/architecture.md
  docs/deployment.md
  docs/glossary.md
  frontend/AGENTS.md
Due: none

add localhost test ( native, linux only )
  cmd/relay-server/tunnel.go
  frontend/src/components/TunnelCommandModal.tsx
  sdk/client.go
  sdk/client_test.go
  sdk/listener_test.go
Due: golangci-lint, golangci-lint-fmt

restore admin
  cmd/relay-server/admin.go
  cmd/relay-server/frontend.go
  cmd/relay-server/serve.go
  cmd/relay-server/tunnel.go
  frontend/src/components/ServerCard.tsx
  frontend/src/components/TunnelCommandModal.tsx
  frontend/src/pages/Admin.tsx
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/admin/rows.go
  portal/admin/state.go
  portal/admin/state_test.go
  portal/policy/approver.go
  portal/policy/authenticator.go
  portal/policy/authenticator_test.go
  portal/policy/ip_filter.go
  portal/policy/runtime.go
  portal/server.go
  types/api.go
  types/paths.go
Due: golangci-lint, golangci-lint-fmt

fix lint error
  cmd/relay-server/serve.go
  portal/admin/handler.go
  portal/admin/handler_test.go
  portal/policy/authenticator.go
  portal/server.go
Due: golangci-lint, golangci-lint-fmt

tunnel: support multi relays
  cmd/portal-tunnel/README.md
  cmd/portal-tunnel/main.go
  cmd/portal-tunnel/relays.go
  cmd/relay-server/tunnel.go
Due: golangci-lint, golangci-lint-fmt

fix ip filter and env files
  .env.example
  .golangci.yml
  Dockerfile
  cmd/portal-tunnel/relays.go
  cmd/relay-server/main.go
  cmd/relay-server/serve.go
  docker-compose.yml
  docs/architecture.md
  docs/deployment.md
  frontend/README.md
  frontend/package.json
  portal/policy/ip_filter.go
Due: golangci-lint-config-verify, golangci-lint, golangci-lint-fmt

update gitignore
  .gitignore
Due: none

fix docker compose volumes
  docker-compose.yml
Due: none

fix env.example
  .env.example
Due: none

add demo video
  README.md
  portal.mp4
Due: none

Path conditions:
  golangci-lint-config-verify: any of: \.golangci\.(?:yml|yaml|toml|json)
  golangci-lint: any of: \.go$
  golangci-lint-fmt: any of: \.go$
